.selectWrapper{
    width: 100%;
    height: auto;
    background-color: gray;
    
}

input{
    margin: 20px;
}

h1{
    display: inline-block;
    margin-top: 0;
    margin-left: auto;
    width: 25%;
}

.correctMessage input{
    display:inline-block;
}

